Source: gallery-plugin-tiltshift
Section: graphics
Priority: extra
Maintainer: Simon Pena <spena@igalia.com>
Build-Depends: debhelper (>= 7.0.50),
               libgallerycore-dev (>= 1.110519.2),
               libquillimagefilter-dev (>= 1.110523.0)
Standards-Version: 3.9.1

Package: gallery-plugin-tiltshift
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Gallery plugin that applies Tilt Shift effect
XB-Maemo-Flags: visible
XB-Maemo-Display-Name: Gallery Tilt Shift plugin
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAABALSURBVHiczZt7fJXFmce/877vuYfcuIRE
 AhJiEBsMAiIfxCqgVbrWalWq3RUUFaio7bLdru7up6zVVre1tmKpQCsWaddr
 28VW25StLepWRUWBiAqxFD6o3HI/57znvczM/pHkACbnFrLQ53zmk+Rk5nnn
 +T2/eZ6ZeWeE1poTKU/X7wgSLC9RhlcMqqT7W6PDUIFO3NaOq5vOcE9kf8Rg
 AnCXwKibvK/esOQ0YLIwmKglVVrpKEpElNJRFAEtobcACPNIwcAzDJHE0LYw
 RFKYfKQV24Etyjc379wyqmm5Rg1Wn48bgMenfDDbsMwFWtCgUtR5SR3xkxo/
 0V16jRxwB02wYqK7RAWBqLCNMDuFZqvy5bpr3xz3wnHpHwgA6xs+GGGGjMUI
 Pd9p0bX2wW5jT6RYMUFkhCA0VDSjxWPSUauv2zruYKF6CgLgkYZ368Ph0L1+
 Ul1kH1Qhp1WjB42MAxNhQKhcEBlhOFbU2JhKOXfeuHVCU97t8wVg3bRdi7TL
 A53NKubbJ9bb+YoVERTXGgkRZNmCzaetyadNTgDWNxyIqVDHWqdFz4vvVX08
 rvBQKCxCA+74YIowoGi0QWioeMpwShZet7UikbV+NgAendx8hjb8DfE9utZp
 7b9eglYcbMqoRGAcX+8HUULlgqIxolko6/M3bKndkaleRgDWN2yLuYHA223v
 qlqZ6r+xQtLCPiQOZVQRomhQOj9YYoahbILRHPS8SddtPbNfJliZGqcC1tqu
 PbLWS2VmiE2cBK0ESxV2eycBIoA4/p4PkqgUdOzRtUPGWGuBL/ZXp1/Orpmy
 Y5HdJufZrQqF7rdIJHFaGT07xozbx9BFBx5uxvonq9itCrtNzlszZceivABY
 0bCt3vPkA117FTrLxyFBgnbm/FMd590wHkqTJOnK2uZkfbr2KjxPPrCiYVt9
 TgBMi3s7dsuYVJlRlUi6aKP6gjBjp4wAQzNtUSVdtODjnXSv9+mv0nTsljHT
 4t5P2ntMEFzV8OcRKS+6t/19lTWnuSQ4xG5uePZMkk6Cd1/dw6U3z+Q75/wP
 sY7RFFGerflJk9LxhhMOJEcv2TojPWM8hgGuiCxOHlahrGiiiNPGqAvCjJk0
 nF99989s+vEufOkx9cYq4hzG/RuMBQpN8rAKuSKy+GibjwFACj3fbssc+BQa
 hyQJ2rjgK2N5e9NO2ncJaj81hud/8grnLqhBFnf/X5Jdz8kodptCCj2/XwDu
 r988226TtVIpMn0kkgRtVF8QpLp+KBu+/yozr6tj1tLT2LS2GakkU64fTpJ2
 XOyMek7WRyqF3SZr76/fPLsPADrAgmRLdq95eKTo5Lylp/L2pp10Ngtm/EMN
 w8YWceppo2hc9zozrqtBDbFxSZ10j/c7DFoUOsCCPgAorRvcZHYEfVIkSTK8
 pohfr3iDmfNP460/7eRXD73E+YtrePHRZqTyGVKjcIifdI/393GTCqV1wzEA
 3CUwfEfV5ULPIYVHkrc3NRP/q8m0L55K48PbeOuXHzN0bIxRp1ax8edv4uoU
 Xs8iaXA9qHCwaedjErT1PKNwPb6j6u7qWbgYAIHxL9U7KRmRKDIXiUMCD5/G
 h7dxzryxvL1pFyFRzNRLxtP46BucdcVI/nfdByQTLh4uPjKLvsJLki5a2Mtn
 7quEUzrp4iA+fsF6nJSMBMa/VJ8GwLOY5tq5kZMoQNO2yyRYpvj96neYu2wC
 s5eO453Gg3R2dSE7Yhz4ID7oWcDFpotDzLy1kjk3nc6N688iFW4nQXvhumyN
 ZzHtSAwQarJr5xo9Go0ADAJEeOO3f6G6poqxU4YSKQ5w3pcm8NIT72MSItCz
 NzBY41bi0sVhqs+3uPyOBnZt38OoCWVc/b0JdPAxNp0F6XNtBUJNTgOg0BO9
 VG7kBALRs4A8tNPlwltr8X0f3/eZesUowuYQACwiaAxUt+7jKj4eXbQSqk5w
 /Q/PYd9fDnLnZY/w5EMbOfuyscxYVEk7H5KiK2+dPbZOTAPgo6p8PzdyGgOT
 IBqYcU0NxcPDSCmRUoLQXHjLaWjAIIjAzOFVmYfnJXFacCOHuX7NFDAU9930
 OOOqJ/Cr/3yL1/+4g8u/3sDomaHueiTzYoDvK3xU1REGKB3NB7le4yLDBdOv
 qU4b31tqzi6nelq0hyVGGra+sUTiksw5V3BJ4hDn8nvrGDmumB8se4qYGsFX
 H5/D5Utn8tBtz/PRnoPM//5UItUONvH82aV0NA2AlDKa2xs+Eh8Xm5mLKhCm
 TtP/6HLe4kpcK5Fu05+eJC3IYYeJG4dIZRm/LimK6ySTPjOKZx7+E7tfTrHw
 BzPY9sou5iyso2HKGXzvy8+AoZh+fQUeiX6f2a89Uh4FgNY5UqDCx8cjxbCJ
 UHfusD7e7y1llREmfC6MQ1efFOX3bKKY1Z3c8bvzuebBWrrMAz1rh74p0yFO
 SrTz5qb3+PWDTXzpP6Zz+HArD976HI/c8xuuvWcKQb+clXduwNU2KWx8vPzS
 odYRAFM8My+Y9NqX2+2gyVx8PBLGYS759wqiJQG01hlLRV2UbRsPIpxYOmZo
 NElaiIyL8/VnZlNeWUT1hHLKx1lsbmxGKwOLUPp5Ck2SVmzRwWuN7zJz7iQm
 za3kgSXPMnn6RLb94SNC5T7T5o7juRW7OPDhIdy2MEGKMbCy2qKBUIk2X1vj
 3Wu1OHtKtFQonX0vzyVJcKhD+agwvu9nrWuFBGXjFe2vxQkQRSOxaadkgs2y
 n19AtCTAt5b+lHMvmci5c89ErNQ8snQLylNEKAUEGolGEz/kYFBKUZXmoa9t
 oGHaGVyzfArvvXIKa+7YyCU3f4qwjtHanCSKj8TDJJi1f93DXtPi7CkxwCmW
 Mp905OCSzEj9TxZPp3CwsekkziHKJ6X46s9mYobg7pt/yvbn23nwlufZ+IvX
 mDirioUPT8IJtWDTdUzwtIhhEOL367cyomwUX7ijHt/3qD17KH//r+fx3Krt
 SDRBigErY+DtE4ilBpxiy8EqQSlUjt1cDxel/e6Ul4dorZE4pOig+hyTRSun
 I/H51o0/o/VdgzvWX0rTix+x6msvkEykuPDKqSxcNZFHb3kXYVsYWICJRQyX
 OKNrRvHF5ZNQWqH87rcznzq/gis7p/Ob+3dhEkJgoXsgyMkApZFYJRa4KMyc
 TXqRzUX/9AN0jyciSW56aBaOk+K+pU+S3Bdl2doLeefNZibOGQvG+Tz2jU3Y
 iRSXXHsOF36lgt/f10qYMrpTqaZifIhrv9kAojuHHy2T51aR6HB5+cdtBIjg
 42OS+9Vd96zGxQKjQ4tcDOjBVasCGNAdb10rTmdHnO/e9jR0lPKPa2bxcuNW
 fru6iUj5q/zzj77AVeI8nrzvReykQ1lZKSk6EQTx8SgeLZl39+kYAY3nef0+
 a/qVp5Bod3n76ThQhIWf8y2VFhowOqwQoc64kURlbdC9vdw9dvIDQOnuCY/v
 +nx70RN07Y5x26qpbPzlZl76r71c9eVP8/7rB7hvyTMsW3EZZ82cwIYVO6g6
 PYZPMR4pQhUJrry7hmDUyMm88xdUY3f9lfd/l8AklvNdpTIUUaKd1tBQvKPL
 g+xm6fTENd8hoLREofEcibs7ikmIX/zkZQ6857L4O7OoO3sEM66uZsNDYe6/
 dQMVIyoIM4wD73URQuIS58JF5USKzYye/6TMXlTFztd24LUVIwhkt0gohobi
 HdbypqvdBTVPeQqdpUXPVFhTEANAEKAEjY9PCvtAkNtXzmTYKbG0UZcuPZ3h
 o6P898rtBCklwgg04JJCW27egKefazkIusHPWs/Q3vKmea4FoIW0Fdkg0+no
 WggAGoFFCIXH6Kkhrv6X0wnHArjuseegzrp4JKWVQZ7+9k7oHEJ3/nCRUhYO
 ABKNj5UjrGshbeh5OaohqdDFGSujUT1G5T8END4KicOUK6LMWTAGIchI51ET
 hnD9d8/g6W/tpn2vQPdknHzpf+S5CoGfkwEaktADgDJUMhteOs2A/IOg1goC
 NhctqaL+08PyMiRWbnLtPafy6wf38MGbLlL6BTPgyN6VJNubamWoIwBorT7C
 FDUqg206HQPyZ0AwZnDVN6qpHFdUkBcNCy5bVs2mJwykzD/o9orU3b2VqIyp
 0DB7bKaXAVptFyFmqmT/iB3xf/4x4Kw5lQwbHSqYwr1y7lUV7Nl1sOD2R8zP
 PLMxQxql1XboAcCTYosRVKhkprlA74ZI/kPAk6k+wa5Q8aVX+BDQR9YCIkMc
 MIIKT4ot0AOAL93NBM0sc4Fuhej8Ken5YsDeT+vwXDwv98ruaPHp3XPKMrcN
 KnwpN0MPAM/u+7Dpc6NOsRUi0n+LHgAKYYCvjhuAgTBAaZXeT8jIgIC0n933
 YROkg+ByddnYNTsVqqHfFr2UKmAt4Pv+8Q8Bf2BZIFcMwFI7tV6u4KhDUhqx
 1QzpBt/JFAiPdCofGUgO76NDFq5D6yO7Pv2JFdJoxNb0372/CE+uCxUx33fM
 rA8ohAHHDcAAGECOg5+hIoXw5Lrev9MAPLtvyQuXjlnTnGylNpOOQuYBvu8N
 yhAoPA1mFiEgGNXNz+5Zkj5hfsw5QaV5LBhT33TimZfG+TNAHjcD5EBiQBYG
 BGMKpXns6O+OAUC6anWwSP+bEzf6XUxrnX8WGJwYUPhi6Ij0jWXBIulIV68+
 +rtjAGjcv+Tg341ZtdEM6kul238wPKFDwPMGFAT767kZ1JgBvfG5PUuOuVPQ
 56is73BntNydFT8QivVhU0EMOP4hMDAG9A3iQkC03E34jrjzk//rA0Dj/iVN
 n616eFm4zFtttx67RaDJPwbIQYkBhS+GtDYQHMuCcJmHAcue37+kz0WKjKfF
 547+0ZN2a2CelzQBjc1B3MBeYmMPQD7bzlJhmsd3fF5JjWEWcvjaILG7gqBX
 TYQKQBCISiLl3lO/3XtLv4elM54WV+6QheHSrsnSNWpVjxOkF6R95/BCbDjh
 YhCk1/+GpQmXes3KHbIwU/2sFyY+W7n6DGX4G1Ltgdq43Y7ihF7pG7AYBCmK
 lBIu9ZoNZX3++Y8XF35holcuHrk+JqzOtW5SzEt1BLPPNP4WREC4xCUY1U9p
 v3hh4/7rBn5l5mi5eOTKRUrzQKotFFP+387VmKPFsBThMidhCJY17l86OJem
 jpZZI1fUB03jXumJi7xEIOSnrJPPCAFW2CcQ8xwzoDe6Ut35x/23D/61uaPl
 4pGrRmjtL8bQ8/2UVeslAyjvxLLCCCgCUQ8r7DejxGNCWKsb9y/5/7042Z9c
 PPKHs5WhFwhokL6o054RUb6B8kyUZ6BznDvI2UGhMQIKIyAxLIUIKNu09E4N
 Ww0l1jXuv/XEX53NqEzcZcwZUVpvKDFNWkw2hJ6oFVVaG1GhRURrHUWLgNYC
 NGlwhOiev3b/1J4QIqmFtoVQSWHwkdJiu+mzRRl68x8Otjf1bmYMSp9P9PX5
 enFXcPTIYAmqqNhRsgQgZJgdGPHOvfvdjia9/ITm2v8Dua8yvf9sOqUAAAAA
 SUVORK5CYII=

Package: gallery-plugin-tiltshift-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         gallery-plugin-tiltshift (= ${binary:Version})
Description: Gallery plugin that applies Tilt Shift effect
 This package contains the debug symbols.
