Source: gallery-plugin-tiltshift
Section: graphics
Priority: extra
Maintainer: Simon Pena <spena@igalia.com>
Build-Depends: debhelper (>= 7.0.50),
               libgallerycore-dev (>= 1.120112.1+pr1.2),
               libquillimagefilter-dev (>= 1.110523.0)
Standards-Version: 3.9.1

Package: gallery-plugin-tiltshift
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         libgallerycore (>= 1.120112.1+pr1.2)
Description: Gallery plugin that applies Tilt Shift effect
 .
 This plugin requires PR1.2 in order to work
XB-Maemo-Flags: visible
XB-Maemo-Display-Name: Gallery Tilt Shift plugin
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAABF3SURBVHiczZt7dFTVvcc/+8yZmSQDSUgw
 hPAMjAHSYDAUlg+oQkEriNiqWK8Kt3gVeqlVaWlrbS/F+mitVeu6bdVaLXJb
 LV6tYl9Iq731Vr1QkUAEwSgGeYQkk2Tec+acvff9Y2byIJkkvPmdtVdOZu2z
 z29/f9/f45yzt9Bacyrl+aqdHjxFBcqw80EVpH41goZyh0i2Bq+pq0yeSn3E
 iQRgjcCoqNlfZZhyOlAjDCZrSZlWOg8lcpXSeSjcWkKmAQhXZ8PANgwRw9Bx
 YYiYcHFQK3YAW5Xj2rxn68i61Rp1onQ+bgCenfrhbMN0LdGCapWgwo7pXCem
 caKplpnkMSvoAtMnUi1P4M4TcSOHPUJTqxy59rp3xr92XOMfCwDrqj8scXmN
 ZQi92Apof7wpNdlTKaZPkFsi8BaLerR4Rlrq8Rtrxzcd7ThHBcAvq3dV5eR4
 73diam68SXmtVo0+YWQ8NhEGeIsEuSWGZeYZmxIJ686baifVDfj6gQKwdvoH
 t+gkD4Xqlc+Jn1prD1TMXEG+34gKDyuXbD77iYFc0y8A66oP+5Q3+JQV0Isi
 +1SfFpfYuDABcTR6n1ARBgwabeAtFusNq2DpjbXDon327wuAp2vqK7XhvBxp
 0H6rtW+gNJoYQbzkYuI9Nu1PoHiLBIPGiHqhzIVf2urfma1fVgDWVW/3Jd3u
 bW27lF8m+r+hRZgW9uGjiAKGITCOWfkTJa4cGDLJqPfY9pQba8/plQlmtosT
 bvOpcIP024n+/V0hCdJCmDZsHNzkkcvg41D9xIhKQLBB+wePMZ8Cru2tT69m
 emLqzlvibXJRvFWh0P22KO2EaGbydcUk3EFCtGBjD+jak93irYp4m1z0xNSd
 twwIgEert1fZtnwovE+hB3AkiROiGe+YJEt/MpfzvzyCKAHiBAd0/ak4wvsU
 ti0ferR6e1W/ALhM7g/ulT6p+kdXIgkTIEyAq344FaUUV37jAoxhcYK0YGOd
 dgYoNFJpgnulz2Vyf58APFb9ZokdV3OTMcVAjhhhQjQz7jIfU+aM50fX/I6W
 g+3M+49PEaWVCK1I5IDGOtlHMqaw42ruY9VvlmQFIClyl8ValHcgqDokCdNC
 MjfMtfeez2u/fpd9b0R59ttvcMFVlQydKggTIEnitDMg02ItypsUucuyAiCF
 XhxvG0jgU0RoJ0wLF60cjTvX5JW730MjqP9LhK2b9nD1PdOIiFZCtKRZcPoB
 iLcppNCLewXgwarNs+Nt0i9V/3RKECNMC4POlsy9aQrP3/sPrICLoVMMQPDi
 f7xLWUUxVdcWEqGZOKFjJO6Rx/G5k1SKeJv0P1i1eXYPALSbJbFA/9aXSCIE
 iNLK5++p5qMdB6n9TQues2xWrJvLyM94Ce4VbHzyHa5YNQ05OEyEAM5xpkUH
 m3BHTDkONwgotJslPQBQWlcPJPjFCBImwMQvDGb8lFLW3/VPtBJc+i0/9dsO
 cOVdU9Bmkr89upekleSi28YQJkCU9uOwu02IJto5SLjDpY7tSMYUSuvqbgCs
 ERiOpSr6Q8/GIkobKj/Mgq+dy2u/3kagTnPWNBejq87iqX/bTPOBIFOuL8aJ
 mvzugS3M+GIlPn+SCIFjSosSRYhmghwmOaiNEE3ECB0fmyxVsSZdqxsA7glv
 VFkJmStJeVlvzUESI0SEVmbdPhpHSv768Mc4Losr76rmhXu3kDNU8NK9tcy5
 uQpXkc3Ol9v5aPtB5n1rEmFaidCWdfzeW8rd2mli+CzF7RsuQg8PEqSROJGj
 HKuzWQmZ657wRlUHALbJ9GS8b9SSJAjTSuFkh/M+P4GXHvgnVthgyg3FHPq4
 lYatYZb/agYIzdsbdnPxV0ahtYuX7tuOf2oZ5XM8RAhgER2wpaIECXKIwnPi
 XP+D8/Hkubj+kSnEcwKEaCJ5jIVWMq6xTaZ3xgChapLxvnzQIU4bCaOVBXdW
 svufn/De74N4S2wuvmECv39gFzOXjWRwUS6f+9pEXn/sIypnjqRwoqS5TvLm
 yzuZd3sVlredCK0kiffrq3FChDiEZ2yExY+cx3v/aODha/9CQUke89eUE6KJ
 MIfTwfUo40BcgVA1HQAo9GQ70bf1I7RReY2PkjEFbLh/J2Aw+7Zy/vbsTkyP
 4MKrKnAcB39NKSOnDuaPP9vG51ZOQKL466Mf480zmbp4CBFaCNGCRTzr/Syi
 hDiEGhrghp/UcHBvgBfufJ+2Bsm6b7xF1cyRfHppPmGaiNKSDokDZ0B6rpM7
 AHBQZY6T3fpRWqE4yJybJvH6b3YQ/AhKpxkMH5/P2+sOMff28SitcBwHx3G4
 dMVEtv8pgMsj8F/iwWp18ecnt/GZ6yZglsawaCdEI3HakTjdrUOMEIdI+Fq4
 9seTScQtnl1Zi+nTLHqkgsO747z08DvMWVpF2UxNmCZitHI0NYLjKBxUWScD
 lM7Lbo0YMVq4+NYRRMMJ3vxlM9otuey2ibzyUB1jz/fhrylFStnRCkt8TF00
 lD88vJM5yyahc2y2rQ/RcijErBWjiBEmIgIdac0miUKTIEqIRqLuZj5/nx9f
 oZf/uuNdbFuz6IFK3DkuFt5dwbsvtvD2K7u56q5z8ZZHiNBMgshRsUApndcB
 gJQyLxtaCYLEiVD1mZG8tnYXTsJg8jU+DnwY4JNtUeYsq+iwfNc284tnEzgQ
 58NtjdT8yxC042LTL3ZReeEIvMMsLlszjKkr3LQZDQTZT5QWorQQEk3M/VYZ
 w/2FrFu1hXCz5Io14/motom1X95OLGIx66tlvPrjfXyyp5mr76nCHhwgzGGS
 xAbMAillFwC07iMFpsoOKSWxsI2DxfQrxvK3Jxs4d1ERBSV53ayfaS63wUU3
 j+Lvv2rg3EtG4iAJNtpIKbnuh+dQfs5Qps0by+XfH0Es7xBhmgjRxPnLCqm8
 sIznvreV5g8c5ny9jFjI4vWfHmJYtZsN937AiEmFTLp8MM+v3gVCM/+75URd
 LYRpJok1sHSodS6AsaZqp0dK5c5OFwCN4zgolXrBoJQkHrEZ9+miXq2faf6p
 ZxGPOCiVuq2VSP2utOIXt27hqZVvM6x8MNc9MhFjeBtVV3k4b+E4Xvzxu3yy
 Jcl5S4sYVOThlR98xAU3D+X6+6YybqaP9d+p44JryikuN3n2u9sZUVHIeTcP
 IUwzUQIDKpelVO41VTs9RsBqKJBSoXRfLQWAVDJ1LiVKg3RknwA4joPUpPtL
 7ITi4/cOs+627VjNBm0fGDx96zYSsSQ3PnwOs5ZM4NVf1bH71RiVC3IYO2UI
 L35vNzVXFzL98rFI6TBvRSXFfjcv3FPL/DsmYidsfvdgLdPmj2H8XIjoJmK6
 Falln3OSUhGwGgoMsPKlHEBJKiVaq87zNBN6o39HUwq69I+1wvpv1yO8cNUD
 Y5j/vVLshOK3qz5kzzuNHNrbypbn2hg7w82nF4zk+dW7qfhsPjOv9XeMqbXi
 ipWfwvAKNj29myu/M4F978b4n+fe55JlE8mfGE8Hxb7LZSk1YOUbFmZBf4/A
 QNqaCp0+12km9McApVN9NBppCfJHw6L7JrB14372727j6vvH4y2S/PlHh9j0
 xAeUVplc/KVyfrvmPUZO8TBrsb/HmBrFwlUTaT9oseutQ1y2ahT/91wL7285
 yIJVZ0NxOxGasfsouKRSWJgFBukUNFAGaEi5AhrVl/XTTaGRSuKQZMT5ioXf
 rOBPP9tN4ECCfe+FeeuFBq6++2xKKg0O1CWZf4eflx98nyGj3FxyS0VWlhmm
 YOE3J7D7f9tIxG0u+NJQNv7kAOH2OPO+MQqLSL+P4JDEACOoRXbrazSp4sFB
 qdSl0kkVHf0xQKatJR3J5IU+Zlw3mue/v4uC4W4Wfn0CC78+EXee4OWHdnPJ
 ijH4L87BZQoa6y3m3jwO2c/4pkdw4Q3Dee3J/YyvKcaJC95+8RPOGjWI1OOb
 k31eQgFG0PTiDUWMGCrLl5yUF6eDoNYd51rrDgWzScoFNF6fi3E1hTx/926m
 faGYT80YjpSphQMzvziWHX8/yH/fs4fP3To6rVgK9r7GzohGIW3SfQWOTBsr
 DYFJ7x92lKHIIy9kFnsjwbAN2dYxqEzelKmoKlFpF5DIND2ziVSp4Pf+lkbe
 eq6FOcuHUza+sMc1lRcOI7/Ewx8e+ZgZN5aQLlRA9P9VqqsuDgqljZSb0FnD
 9AqcUBR7I0Fzdd01ySXj1tsK7e4dgE6rZ+oAx0lNoH8GSBJhxTuvNLFg1RgG
 D8nJ2r+0fDDzVpq8+vN9OE460A7g+2IGzJROGqUyDNAonLSv9zIvQ9ur6xYl
 zRQaMq4gCwDpwNclDapMHSBV3wyQkpE1JrOXjMF0u/rsC+Ar8HD5HeX85em9
 A2eAVChNSicUWot02pUdMaA30ULGIf1xVENMofN7B0B3pD6l0+fSSdPU6ZMB
 LhNm/+toMpXkQES4YO5NY9MxoP/lJzKtiyMdNHQUbd2jfU/REIM0AMpQsWy3
 UhkypXO6wugMMv24wKkQJ235jkmnH8t1WvdsDFCG6gRAa3UQlxinemFo1zpA
 pbOAlAqtOyvB0ylKyXRGSqdsrTrqj0wiP1IMV3rOZBig1Q7hZYaK9Vza0pUB
 qYjbSbvMs8DplExNktIpVX6nGND58vxIcXk1SqsdkAbAlmKr4VGoWM+oq6AX
 BqTSm1R9B8FTIVKpbjp1Z4BOA9DdsIZHYUuxFdIAODK5GY+r11ogQ6MjY4Cj
 db9B8FSIlKkCzXEcZJcY0FHz9wIAHoUj5WZIA7Bh/4G6BSNHxBUi98gb6PQ7
 gQwDVNryZxwDlOrIAikGdMavI8Vwy/iG/QfqoCMIrlZXlD+xR6Gqj+ys04Ok
 YkCKUCmr6zMkBjidhVoaiJ5p8AgQTLVH69UKuiyS0ohal1dXO1Z3umQuT9X/
 abQdB605Q1xApnRJpz7dJQ1Cj6ljejUaUdvxf+ZE2HKtdxCLHcvVx41Sw2Vq
 /DPLBVJ6ZB7Ssol3kELYcm3m/w4ANuxf/trlY56oj7Xi723pYOYJMHU+sGeB
 UyHdnwWM1IuaLDoJAZ48Xb+hYXnHCvNu6wSV5hmPT91tRXqmw8z7AEjTTWu2
 vqIwXH2uRD3poqQALZCOA3g6HoagJ5M9PoXSPNP1t24AyKR63DNI32VFjB5r
 XY90gQtvSK0GOVPETh7pAr0AMEhaMqkf7/pbNwA2Ni5vmj/msU0uj75cJrtP
 LuMCBoK31vX64HiaxYWB6OIC7m7mcXk0Lrfe9IeG5d32FPRYKutY3JlXlJwV
 Oez1dY0FUkqKxjh481tP1gxOiPiGaKTsbjwhIK8oGXUsceeR/XsAsLFxed28
 sp+vzBliPx5v7bR0e7OFxwce38lQ+8RKe7MFXdYq5wyxMWDlHxuX99hIkXW1
 +GWjf/bbeKt7USTWRoIA2V+ananiIodiBuUNIbfIXv+nff/e62LprKvFVXLw
 0pzCcI2V9PqFM/zk6XkSxTQFOYV2vUoOXpqtT58bJuYNf7xSGc7LiXaP3473
 XiCdqeLOleQUJusNZS7846FlR79hIiOXlq7zCTP0lB1zLUoEPT1ryzNNBOQU
 JHHnyfXayV+6sfHGY98y01UuLf3pLUrzUKLN61PO6d8N0psYpiJniBU1BCs3
 Nq44MZumusqs0kerPC7jfmmLuXbU7XUS5ulnhAAzx8Htsy2XW29KSnXn641f
 PfHb5rrKpaWPlWjtLMPQi52E6bdjbpR9allhuBXuPBszx6lHiWeEMB/f2Lj8
 5G6c7E0uLf3P2crQSwRUS0dUaNvIVY6Bsl0o20Dr4yuXhdAYboXhlhimQrhV
 3GXqPRpqDSXWbmz8yqnfOpt1MLHG+GxJYZWhxHRpUmMIPVkryrQ28oQWuVrr
 PLRway1A0wGOEBpE5q+2hRAxLXRcCBUTBgeVFjtcDluVoTf/tam9LvMy44To
 fKq3z1eJNZ7RpZ4C1KB8S8kCAK/hCmJEQvsak8E6vfqUbp//fxoVsSkSwqSY
 AAAAAElFTkSuQmCC

Package: gallery-plugin-tiltshift-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         gallery-plugin-tiltshift (= ${binary:Version})
Description: Gallery plugin that applies Tilt Shift effect
 This package contains the debug symbols.
