#! /usr/bin/make -f

# export DH_VERBOSE = 1

# Teach qmake about CFLAGS, poor qmake doesn't know about it...
#
QMAKE_OPTIONS += QMAKE_CXXFLAGS_RELEASE='$(CFLAGS)' \
								 QMAKE_CXXFLAGS_DEBUG='$(CFLAGS)' \
								 QMAKE_CFLAGS_RELEASE='$(CFLAGS)' \
								 QMAKE_CFLAGS_DEBUG='$(CFLAGS)' \
								 QMAKE_STRIP=: \
								 PREFIX=/usr

%:
	dh --buildsystem=qmake $@

override_dh_auto_configure:
	qmake $(QMAKE_OPTIONS)

override_dh_strip:
	dh_strip --dbg-package=gallery-plugin-tiltshift-dbg

.PHONY: override_dh_auto_configure override_dh_strip

